.b-nav {
	overflow:hidden;
	position:relative;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.b-nav__link {
	font-size:1.333em;
	line-height:1.5em;
	display:inline-block;
	padding:0 0.333em;
	vertical-align:top;
}
.b-nav__link_on,
.b-nav__link_on:hover {
	text-decoration:none;
	cursor:default;
	pointer-events:none;
	border-radius:5px;
	background:#999;
	color:#fff;
}