.b-nav {
	overflow:hidden;
	position:relative;
	width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.b-nav__item {
	line-height:2em;
	display:inline-block;
	margin-right:10px;
}
.b-nav__item__link_on,
.b-nav__item__link_on:hover {
	text-decoration:none;
	cursor:default;
	color:#000;
}
.b-nav__item_title {
	text-transform:uppercase;
}

@media screen and (min-width:640px) and (min-height:640px) {
	.b-nav {
		white-space:normal;
		-webkit-columns:5;
		-moz-columns:5;
		columns:5;
	}
	.b-nav__item {
		display:block;
		overflow:hidden;
		white-space:nowrap;
		margin:0;
		text-overflow:ellipsis;
	}
}
@media screen and (min-width:1280px) {
	.b-nav {
	}
}
/*
@media screen and (max-height:480px) {
	.b-nav {
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:3;
	}
	text-overflow:ellipsis;
	display:block;
	overflow:hidden;
	-webkit-column-count:4;
	-moz-column-count:4;
	column-count:4;

} */