.b-nav-wrap {
	overflow:hidden;
}
.b-nav {
	/* overflow:hidden; */
	position:relative;
	/* width:100%; */
	text-overflow:ellipsis;
	white-space:nowrap;
}
.b-nav__item {
	line-height:2em;
	display:inline-block;
	margin-right:10px;
}
.b-nav__item__link_on,
.b-nav__item__link_on:hover {
	text-decoration:none;
	cursor:default;
	color:#000;
}
.b-nav__item_title {
	text-transform:uppercase;
}