html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
em,
font,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
table,
tr,
th,
td
  margin: 0
  padding: 0
  outline: 0
  border: 0
  vertical-align: baseline
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit


img
  vertical-align: top
  border: 0
  -ms-interpolation-mode: bicubic

table
  border-collapse: collapse
  border-spacing: 0

td,
th
  vertical-align: middle
  text-align: left

form
  margin: 0

textarea,
input,
select
  margin: 0

h1,
h2,
h3,
h4,
h5,
h6
  display: inline
  color: inherit
  font-weight: inherit
  font-style: inherit

header,
nav,
section,
article,
aside,
footer
  display: block
  margin: 0
  padding: 0

p
  margin-bottom: 1em

a
  text-decoration: none
  cursor: pointer
  color: #999

a:hover
  text-decoration: underline
  color: #555

ul
  list-style-type: disc
  line-height: 1.2em

ul ul
  line-height: 1em

input,
textarea,
select
  color: #444
  font: 12px Arial, Helvetica, sans-serif

[disabled],
.disabled,
[readonly],
.readonly
  color: #999
  cursor: default

input[type="button"],
input[type="submit"]
  cursor: pointer

strong
  font-weight: bold

em
  font-style: italic

