@import inc-reset
@import mixin

body
	font: 1em/1.429em Helvetica, Arial, sans-serif, Tahoma
	background: #fff

.head
.body
	padding: 0 1%

.head
	margin: 1em 0

.search__input
	font-size: 1.14285714286em
	width: 100%
	padding: 2px 4px
	border-box()
	border: 1px solid #e2e2e2
	border-radius(5px)

.button
	cursor: pointer

.button__text
	font-stretch: condensed
	text-transform: uppercase
