@media screen and (max-width:510px) {
	.b-nav {
		margin:0;
	}
	.b-nav__pin {
		font-size:1em; /* 12px */
	}
	.b-race {
		padding:2.5% 2.5%;
	}
	.b-race__circuit {
		clear:left;
	}
}

@media screen and (max-width:950px) {

	.b-race__circuit {
		clear:left;
	}

}